/* 멤버 링크 */
.member{
  font-size: 0;
  text-align: right;
}
.member li{
  display: inline-block;
  font-size: 1.4rem
}
/* 네비게이션 */
.menu-item{
  /* background-color: pink; */
  float : left;
}

.menu-act .sub-menu {
  display: block;
}

.sub-menu li {
  display: inline-block;
}

/* 메인 콘텐츠 */
.group{
  margin: 0 15px;
  float: left;
  min-height: 400px;
}
