*, *::before, *::after {
  box-sizing: border-box;
  
  }
  /*  컨테이너 */
  .container {
  background-color: #ccc;
  background-image: linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 60%, #fff 100%);
  } 
  /* 레이아웃 */
  .header, .visual, .main, .slogan, .footer {
    width: 940px;
    margin-left : auto;
    margin-right: auto;
  }
  /* 헤더 */
  .header {
    background-color: #fff;
    position: relative;
    padding: 2px 30px 10px 30px;
    right: -0.5em;
  }

  /* 맴버링크 */
  .member a {
    display: inline-block;
    text-transform: uppercase;
    padding : 0.5em;
  
  }
  
  /* visual */
  .visual {
    background-color: lime;
    height: 120px;
  }

  /* main */
  .main {
    background-color: #fff;
    padding : 30px 15px;
  }

  .group1{
    background-color: silver;
    width: 250px; 
  }
  .group2{
    background-color: tan;
    width: 380px;
  }
  .group3{
    background-color: teal;
    width: 190px;
  }
  
  /* slogan */
  .slogan {
    background-color: coral;
    height: 10vh;
  }
  
  /* footer */

  .footer-bg {
    background-color: #ccc;
    background-image: linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 60%, #fff 100%);
  }

  
  .footer {
    background-color:violet;
    height: 10vh;
  }