/* 기본 box-sizing 정의 */
*, *::before, *::after{
  box-sizing: border-box;
}
/* 컨테이너 */
.container{
  background-color: #ccc;
  background-image: linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 60%, #fff 100%);
}
/* 레이아웃 */
.header, .visual, .main, .slogan, .footer{
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}
/* 헤더 */
.header{
  background-color: #fff;
  padding: 2px 30px 10px;
  position: relative;
  right: -0.5em;
}

/* 로고 */
.logo{
  position: absolute;
  top: 45px;
  left: 70px;
}

/* 멤버 링크 */
.member {
  margin-bottom: 2px;
}

.member a{
  display: inline-block;
  text-transform: uppercase;
  padding: 0.5em;
}

/* 네비게이션 */
.navigation {
  padding-bottom: 40px;
}

.menu {
  border-top : 2px solid #181818;
  height: 50px;
  padding-left: 240px;
  background: rgb(255,169,70);
  background: linear-gradient(180deg, rgba(255,169,70,1) 0%, rgba(251,130,0,1) 35%, rgba(251,130,0,1) 70%, rgba(255,169,70,1) 100%);
}

.menu-item {
  border-left: 2px solid rgba(255,255,255,0.5);
  position: relative;
}

.btn-menu {
  text-shadow: 1px 0 0 #000000, 0 1px 0 #000000, -1px 0 0 #000000, 0 -1px 0 #000000 ;
  color : #fff;
  font-weight: 700;
  font-size : 1.6rem;
  padding : 1.0em;
}

.menu-act .btn-menu {
  color : #ff0;
  position: relative;
}

.menu-act .btn-menu::after {
  position : absolute;
  top : 50px;
  left : 50%;
  content: "";
  width: calc(100% - 2em);
  display: block;
  border-top: 2px solid #000;
  transform: translateX(-50%);
}

.sub-menu {
  display: none;
  position: absolute;
  white-space: nowrap;
  top : 52px;
  
}

.sub-menu a {
  display: inline-block;
  margin-right: 0.5em;
  padding : 0.5em 0;

}

.sub-menu1, .sub-menu2 , .sub-menu3 {
  left : 0;
}
.sub-menu4 , .sub-menu5  , .sub-menu6 {
  right : 0;
}

/* 비주얼 */
.visual{
  background-color: lime;
  height: 120px;
}
/* 메인 콘텐츠 */
.main{
  background-color: #fff;
  padding: 30px 15px;
}
.group1{
  background-color: silver;
  width: 250px;
}
.group2{
  background-color: tan;
  width: 380px;
}
.group3{
  background-color: teal;
  width: 190px;
}
/* 슬로건 */
.slogan{
  background-color: coral;
  height: 10vh;
}
/* 푸터 */
.footer-bg{
  background-color: #ccc;
  background-image: linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 60%, #fff 100%);
}
.footer{
  background-color: violet;
  height: 10vh;
}
