/* 플로트 이슈를 해결하기 위한 스타일 */
.clearfix::after{
  display: block;
  clear: both;
  content: "";
}
/* 숨김 콘텐츠 */
.a11y-hidden, legend{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  clip-path: polygon(0 0,0 0,0 0);
}

.gradient-box {
  background :  #ccc linear-gradient(to top, #ccc,#eee);
  border-radius: 5px;
  padding: 10px;
  border : #aaa solid 1px;
}

.point-color {
  color : rgba(251,130,0,1);

}